<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="{{ url_for('static',filename='css/app.css') }}" -->
    <title>App Departamentos</title>

</head>
<body>
    <h1>{{ mensaje }}</h1>
    <button onclick="">mostrar</button>
    <table align="center" border="2">
        <tr>
            <td>Nombre</td>
            <td>Descripcion</td>
        </tr>
        {% for item in departamentos %}
        <tr>
            <td>{{ item.nombre}}</td>
            <td>{{ item.descripcion}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>